.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}
.lContainer > label {
  font-size: 13px;
}
.lInput {
  height: 20px;
  padding: 10px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #006ce4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.lContainer > span {
  color: #d4111e;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: center;
}
.lContainer > p {
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: center;
}
.registerHere {
  text-decoration: none;
  color: #006ce4;
}
.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}
