.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rgContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 250px;
  height: auto;
}

.rgContainer > label {
  font-size: 13px;
}
.rInput {
  height: 20px;
  padding: 10px;
}

.rButton {
  border: none;
  padding: 10px 20px;
  background-color: #006ce4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.rgContainer > span {
  color: #d4111e;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: center;
}
.rgContainer > p {
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: center;
}
.loginHere {
  text-decoration: none;
  color: #006ce4;
}
.rButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}
