.navbar {
  height: 50px;
  background-color: #003b95;
  display: flex;
  justify-content: center;
  margin: 0;
}
.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 600;
  font-size: 23px;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  color: #2362bb;
  cursor: pointer;
  border-radius: 2px;
}
.navButton:hover {
  background-color: #d8e8fd;
}
